<div style="overflow: auto;">
    <div class="epi-listingTopContainer" data-dojo-attach-point="selectTypeNode">
        <h1 data-dojo-attach-point="_titleNode">
            ${sectionTitle}</h1>
        <div data-dojo-attach-point="_descriptionNode">
            ${description}</div>
        <div data-dojo-attach-point="_restartPlaceholder">
        </div>
        <div data-dojo-attach-point="_successMessageList" data-dojo-type="epi-packaging/StatusMessageList"
            class="epi-packaging-validationSummary epi-packaging-Note">
        </div>
        <div data-dojo-attach-point="_errorMessageList" data-dojo-type="epi-packaging/StatusMessageList"
            class="epi-errorText epi-packaging-validationSummary epi-packaging-Error">
        </div>
        <div class="epi-packaging-preload-error">
        </div>
        <div class="epi-packaging-preload-success">
        </div>
    </div>
</div>
