<?xml version="1.0" encoding="utf-8"?>
<module productName="OnlineCenter" clientResourceRelativePath="3.0.1164" loadFromBin="false">
  <assemblies>
    <add assembly="EPiServer.Shell" />
    <add assembly="EPiServer.Shell.UI" />
    <add assembly="EPiServer.ApplicationModules" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="moduleArea" value="Shell" />
        <add key="controller" value="Dashboard" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/document.css" resourceType="Style" />
    <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/sleek.css" resourceType="Style" />
    <add name="epi.shell.ui" path="ClientResources/epi/shell/ResourceBundle.js" resourceType="Script" />
    <add name="epi.shell.ui" path="ClientResources/epi/shell/widgets.js" resourceType="Script" />
    <add name="epi.cms.visitorgroups.ui" path="ClientResources/epi/visitorgroup-widgets.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="epi" location="ClientResources/EPi" />
      <add name="dgrid" location="ClientResources/lib/dgrid" />
      <add name="put-selector" location="ClientResources/lib/put-selector" />
      <add name="xstyle" location="ClientResources/lib/xstyle" />
    </packages>
    <aliases>
      <add from="dijit/focus" to="epi/patch/dijit/focus" />
      <add from="dojo/window" to="epi/patch/dojo/window" />
      <add from="dojo/store/Observable" to="epi/patch/dojo/store/Observable" />
    </aliases>
  </dojo>
  <clientModule initializer="epi.shell.ShellModule">
    <requiredResources>
      <add name="epi.shell.ui" />
    </requiredResources>
  </clientModule>
</module>