<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CMS" version="3.0.1054" />
  <package id="EPiServer.Packaging" version="3.0.1800" />
  <package id="EPiServer.Packaging.UI" version="3.0.1800" />
  <package id="EPiServer.Suite" version="7.5.381" />
  <package id="Shell" version="3.0.1164" />
</packages>