<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="3.0.1054" helpFile="http://webhelp.episerver.com/{cmspath}/7.5/{culture}/Default_csh.htm" type="EPiServer.Cms.Shell.CmsModule, EPiServer.Cms.Shell.UI">
  <assemblies>
    <add assembly="EPiServer.Cms.Shell.UI" />
    <add assembly="EPiServer.UI" />
    <add assembly="EPiServer" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="navigation" path="ClientResources/ReportCenter/ReportCenter.js" resourceType="Script" />
    <add name="epi-cms.widgets.base" path="ClientResources/epi-cms/epi.css" resourceType="Style" />
    <add name="epi-cms.widgets.base" path="ClientResources/epi-cms/ResourceBundle.js" resourceType="Script" />
    <add name="epi-cms.widgets.base" path="ClientResources/epi-cms/widgets.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="epi-cms" location="ClientResources/epi-cms" />
    </packages>
    <paths>
      <add name="tinymce" path="ClientResources/Editor/tiny_mce" />
      <!-- Slashy module added for compatibility because aliases do not work when we use Page.DojoConfig extension method to load dojo (Can be seen in EPiServerUI) -->
      <!-- TOREMOVE: when we upgrade platform -->
      <add name="epi/cms" path="ClientResources/epi-cms" />
    </paths>
    <aliases>
      <add from="epi/cms/form/SearchTextBox" to="epi-cms/form/SearchTextBox" />
      <add from="epi/cms/contentediting/editors/SelectionEditor" to="epi-cms/contentediting/editors/SelectionEditor" />
      <add from="epi/cms/form/PageInfoPicker" to="epi-cms/form/PageInfoPicker" />
    </aliases>
  </dojo>
  <clientModule initializer="epi-cms.CMSModule">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
    <requiredResources>
      <add name="epi-cms.widgets.base" />
      <add name="navigation" />
    </requiredResources>
  </clientModule>
</module>