<?xml version="1.0" encoding="utf-8"?>
<module productName="AddOnManagement" clientResourceRelativePath="3.0.1800" loadFromBin="false">
  <assemblies>
    <add assembly="EPiServer.Packaging.UI" />
  </assemblies>
  <route controllerPrefix="EPi" url="AddOns/{controller}/{action}">
    <defaults>
      <add key="moduleArea" value="EPiServer.Packaging.UI" />
      <add key="controller" value="AddOns" />
      <add key="action" value="Index" />
    </defaults>
  </route>
  <clientResources>
    <add name="epi-packaging.ui" path="ClientResources/epi-packaging/ResourceBundle.js" resourceType="Script" />
    <add name="epi-packaging.ui" path="ClientResources/epi-packaging/packaging.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="epi-packaging" location="ClientResources/epi-packaging" />
    </packages>
  </dojo>
  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
    <requiredResources>
      <add name="epi-packaging.ui" />
    </requiredResources>
  </clientModule>
</module>